[Unit]
Description=Lava Device Update

[Service]
ExecStart=/bin/bash -c "python3 /opt/lava-extra/bin/update_lava_status.py"

[Install]
WantedBy=multi-user.target

